.search-page{
  width: 100%;
}

section{
  width: 100%;
  background: #1E2533;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 40px;
}

section  form{
  display: flex;
  align-items: flex-end;
  gap: 16px;
  flex-wrap: wrap;
}

.form input,
.form select{
  width: 100%;
  padding: 5px;
  background: black;
  border-radius: 8px;
  border: 1px solid #1E2533;
}

section button{
  padding: 12px;
  border-radius: 10px;
  background: #1E2533;
  color: white;
  cursor: pointer;
  height: 44px;
}

section button:hover{
  background: black;
}

.main-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  text-align: center;
  margin-bottom: 50px;

}
.header h1{
  margin: 0;
}

.property-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.Property-card{
  border-radius: 20px;
  padding:10px;
  background-color: #1E2533;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Property-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.Property-card img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.Property-card button{
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-view{
  background: #0077cc;
  color: white;
}

.btn-view:hover{
  background: #005fa3;
}

.ImageGallery{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MainImage img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.SubImage{
  display: flex;
  gap: 10px;
}

.SubImage img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid transparent;
}

.SubImage img:hover{
  border-color: #0077cc;
}



